@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 100 to 900 */

:root {
	--font-family: "Noto Sans", sans-serif;
	--background-color: hsl(238.42deg 27.54% 72.94%);
	--color: hsla(0deg 0% 0% 0.8);
	--font-weight: 500;
	--font-size: 0.7rem;
	--line-height: 1.5;
	--h1-font-size: 1rem;
	--h1-font-weight: 800;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: inherit;
	min-width: inherit;
}

main > section {
	position: relative;
      padding: 5rem 0 5rem;
}

main > section > div:nth-child(1) {
	max-width: 24rem;
	min-height: 22rem;
	height: fit-content;
	border-radius: 0.8rem;
	overflow: hidden;
	background-color: hsl(0deg 0% 100%);
	margin: 1rem;
}

main > section > div > div:nth-child(1) {
	position: absolute;
      margin-top: -0.5rem;
	left: 0.5rem;
	background-color: hsl(50deg 94.74% 85.1%);
	border-radius: 0.4rem 1rem 1rem 0.4rem;
	padding: 0.2rem 1rem 0.2rem 0.4rem;
}

main > section > div > div:nth-child(1) > p {
	font-weight: 800;
}

main > section > div > img {
	max-width: 24rem;
	max-height: 16rem;
	height: fit-content;
	width: 100%;
	object-fit: cover;
}

main > section > div > div:nth-child(3) {
	height: fit-content;
	padding: 0.8rem 1rem 1.5rem;
}

main > section > div > div:nth-child(3) > h1 {
	font-size: var(--h1-font-size);
	font-weight: var(--h1-font-weight);
	margin: 0 0 0.4rem;
}

main > section > div > div:nth-child(3) > h1 > span {
	font-size: 0.8rem;
	font-weight: 500;
}
