:root {
	--max-width: 38rem;
	--font-family: "Open Sans", sans-serif;
      
	--background-color: hsl(0deg 0% 12.55%);
	--color: hsl(300,4.3%,13.5%);
      --otter-background-color: hsl(0, 0%, 100%);
      --header-background-color: hsl(324.94deg 100% 50%);

	--font-weight: 500;
	--font-size: 0.7rem;
	--line-height: 1.5;

	--h1-font-size: 1rem;
	--h1-font-weight: 800;

      --border-radius: 0.4rem;
}

main {
	min-width: inherit;
	min-height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;

      padding: 8rem 1rem 8rem;
}

main > section {
	max-width: 16rem;

	padding: 3.2rem 1.3rem 2rem;

	background-color: var(--otter-background-color);

	border-radius: var(--border-radius);

      display: flex;
      flex-direction: column;
      gap: 1rem
      ;
}


main > section > header{
      position: relative;

      width: 100%;
      margin-top: -4rem;

}


main > section > header > h1 {
      background-color: var(--header-background-color);

      padding: 0.8rem;

      text-align: center;

      border-radius: var(--border-radius);

      width: 100%;
}


main > section > div > p {
     color: var(--color);
}