:root {
	--font-family: "Sofia Pro extralight";
	--background-color: hsla(174, 62%, 47%, 0.03);
	--primary-color: hsla(174, 62%, 47%, 1);
	--color: hsla(0, 0%, 45%, 1);
	--font-weight: 500;
	--font-size: 0.7rem;
	--line-height: 1.5;
	--h1-font-size: 1.5rem;
	--h1-font-weight: normal;
	--form-font-family: "Sofia Pro extralight";
	--form-border-color: 1px solid hsla(0, 0%, 94%, 1);
	--form-input-color: hsla(208, 96%, 10%, 1);
	--form-background-color: hsla(0, 0%, 100%, 1);
	--input-placeholder-color: hsla(0, 0%, 45%, 1);
}

h1,
label {
	color: hsla(174, 100%, 2%, 1);
}


main {
	min-width: inherit;
	min-height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	/* remove on medium screen  */
}

main > div:nth-child(1) {
	max-width: 50rem;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 1.5rem;
	padding: 5rem 2rem;
}

main > div > section {
	flex: 1 1 auto;
	/* remove this on medium screen */
	display: flex;
	width: 100%;
}

main > div > section > div {
	margin-left: auto; 
      /* uncomented margin auto */
	width: 100%;
}

main > div > section:nth-child(1) > div {
	margin-bottom: 5rem;
}

main > div > section:nth-child(1) > div > img {
	max-width: 7rem;
	margin: 0 0 0 -0.5rem;
}

main > div > section:nth-child(1) > div > div > h1 {
	margin: 0 0 0.8rem;
	font-family: "Sofia Pro Bold";
}

main > div > section:nth-child(1) > div > div > p {
	max-width: 20rem;
}

main > div > section:nth-child(1) > div > div > p:nth-child(2) {
	display: flex;
}

main > div > section:nth-child(1) > div > div > p:nth-child(3) {
	display: none;
}
/* 











*/
/* Form section */
main > div > section:nth-child(2) > div {
	max-width: 28rem;
	min-height: fit-content;

	border-radius: 0.2rem;

	overflow: hidden;

	background-color: hsla(0, 0%, 100%, 1);
	box-shadow: 0px 4px 50px 0px hsla(222, 68%, 4%, 0.1);
}
/* 







*/
/* Form */
main > div > section:nth-child(2) > div > form {
	background: inherit;

	padding: 1.2rem;

	display: flex;
	flex-direction: column;
	gap: 1.2rem;

	font-family: var(--form-font-family);
}

main > div > section:nth-child(2) > div > form > div {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

main > div > section:nth-child(2) > div > form > div > div {
	font-size: 0.6rem;
	width: 100%;
}

/* 









*/
/* labels / inputs / -----> All of them  */
main > div > section:nth-child(2) > div > form > div > div > label {
	font-weight: 800;
	font-family: inherit;
	font-size: inherit;
}

main > div > section:nth-child(2) > div > form > div > div > input {
	width: 100%;

	border: var(--form-border-color);
	border-radius: 0.1rem;

	outline: none;

	color: var(--form-input-color);

	margin-top: 0.1rem;
	padding: 0.2rem 0.3rem;

	height: 1.6rem;

	font-size: inherit;
}

main > div > section:nth-child(2) > div > form > div > div > div > input:focus {
	border: 1px solid var(--primary-color);
}

main > div > section:nth-child(2) > div > form > div > div > div > input::placeholder {
	color: var(--input-placeholder-color);
	font-weight: 300;
}

/* Gender / Activity Level / Password */
main > div > section:nth-child(2) > div > form > div > div > div > input {
	width: 100%;

	border: var(--form-border-color);
	border-radius: 0.1rem;

	outline: none;

	color: var(--form-input-color);

	margin-top: 0.1rem;

	/*  (top, right, bottom, left): */
	padding: 0.2rem 1.6rem 0.2rem 0.3rem;

	height: 1.6rem;

	font-size: inherit;
}

main > div > section:nth-child(2) > div > form > div > div > input:focus {
	border: 1px solid var(--primary-color);
}

main > div > section:nth-child(2) > div > form > div > div > input::placeholder {
	color: var(--input-placeholder-color);
	font-weight: 300;
}
/* 








*/
/* Height / weight / ----> Hide default number input buttons  */
main > div > section:nth-child(2) > div > form > div > div > input[type="number"]::-webkit-outer-spin-button,
main > div > section:nth-child(2) > div > form > div > div > input[type="number"]::-webkit-inner-spin-button {
	/* Chrome, Safari, Edge, Opera */
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
main > div > section:nth-child(2) > div > form > div > div > input[type="number"] {
	appearance: none;
	-moz-appearance: textfield;
}
/* 







*/
/* Gender / Activity-level / password  ----> mage icons */
main > div > section:nth-child(2) > div > form > div > div > div > img {
	position: absolute;
	right: 0.2rem;
	transition: all 0.5s;
}

main > div > section:nth-child(2) > div > form > div > div > div > img.rotate {
	transform: rotate(180deg);
}

main > div > section:nth-child(2) > div > form > div > div > div > img.show_hide_password {
	width: 0.8rem;
	right: 0.5rem;
	cursor: pointer;
}

/* 







*/
/* Date input */
main > div > section:nth-child(2) > div > form > div:nth-child(2) > div:nth-child(2) {
	position: relative;
}

main > div > section:nth-child(2) > div > form > div:nth-child(2) > div:nth-child(2) > input:not(:focus) {
	color: transparent;
}

main > div > section:nth-child(2) > div > form > div:nth-child(2) > div:nth-child(2) > input {
	background-color: transparent;
}

main > div > section:nth-child(2) > div > form > div:nth-child(2) > div:nth-child(2) > input + span {
	display: flex;
}

main > div > section:nth-child(2) > div > form > div:nth-child(2) > div:nth-child(2) > input:focus + span {
	display: none;
}

/* Wrapper for custom placeholder text */
main > div > section:nth-child(2) > div > form > div:nth-child(2) > div:nth-child(2) > input:not(:focus) + span {
	content: "";
	position: absolute;
	color: var(--input-placeholder-color);
	font-family: var(--font-family);
	font-weight: 500;
	top: 1.3rem;
	left: 0.5rem;
	pointer-events: none;
}

/* 


 








*/
/* Gender / ActivityLevel / dropdown */
main > div > section:nth-child(2) > div > form > div:nth-child(2) > div:nth-child(1) > div,
main > div > section:nth-child(2) > div > form > div:nth-child(4) > div:nth-child(1) > div,
main > div > section:nth-child(2) > div > form > div:nth-child(5) > div:nth-child(1) > div {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

main > div > section:nth-child(2) > div > form > div:nth-child(2) > div:nth-child(1) > div > ul,
main > div > section:nth-child(2) > div > form > div:nth-child(4) > div:nth-child(1) > div > ul {
	position: absolute;
	top: 1.9rem;
	z-index: 1;

	width: 100%;

	background-color: var(--form-background-color);

	border: transparent;
	border-radius: 0.2rem;

	box-shadow: 0 1px 3px 0 hsla(0, 0%, 0%, 0.1), 0 1px 2px -1px hsla(0, 0%, 0%, 0.1);
	/* box-shadow: 0 4px 6px -1px hsla(0, 0%, 0%, 0.1), 0 2px 4px -2px hsla(0, 0%, 0%, 0.1); */

	overflow: hidden;

	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

main > div > section:nth-child(2) > div > form > div:nth-child(2) > div:nth-child(1) > div > ul.hide_option,
main > div > section:nth-child(2) > div > form > div:nth-child(4) > div:nth-child(1) > div > ul.hide_option {
	opacity: 0;
	visibility: hidden;
}

main > div > section:nth-child(2) > div > form > div:nth-child(2) > div:nth-child(1) > div > ul.show_option,
main > div > section:nth-child(2) > div > form > div:nth-child(4) > div:nth-child(1) > div > ul.show_option {
	opacity: 1;
}

main > div > section:nth-child(2) > div > form > div:nth-child(2) > div:nth-child(1) > div > ul > li,
main > div > section:nth-child(2) > div > form > div:nth-child(4) > div:nth-child(1) > div > ul > li {
	list-style: none;
	cursor: pointer;
	padding: 0.2rem 0.3rem;
	transition: all 0.3s ease-in-out;
}

main > div > section:nth-child(2) > div > form > div:nth-child(2) > div:nth-child(1) > div > ul > li:hover,
main > div > section:nth-child(2) > div > form > div:nth-child(4) > div:nth-child(1) > div > ul > li:hover {
	background-color: hsla(0, 0%, 94%, 1);
}

main > div > section:nth-child(2) > div > form > div:nth-child(2) > div:nth-child(1) > div > ul > li[selected],
main > div > section:nth-child(2) > div > form > div:nth-child(4) > div:nth-child(1) > div > ul > li[selected] {
	background-color: hsla(0, 0%, 94%, 1);
}
/* 










*/
/* Footer */
main > div > section:nth-child(2) > div > form > div:nth-last-child(1) {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 0.5rem;
}

main > div > section:nth-child(2) > div > form > div:nth-last-child(1) > button {
	flex: 1 1 auto;
	font-size: inherit;

	color: hsla(0, 0%, 100%, 1);
	background-color: var(--primary-color);

	border: 1px solid var(--primary-color);
	border-radius: 0.2rem;

	cursor: pointer;

	margin-top: 0.5rem;
	outline: none;
	padding: 0.4rem 0.4rem;

	box-shadow: 0px 10px 40px 0px hsla(0, 0%, 0%, 0.1);
}

main > div > section:nth-child(2) > div > form > div:nth-last-child(1) > p {
	font-size: var(--font-size);
}

main > div > section:nth-child(2) > div > form > div:nth-last-child(1) > p > a {
	color: var(--primary-color);
	text-decoration: underline;
	font-style: normal;
}
/* 









*/
/** Browser based styling     / Mozilla Firefox */
@-moz-document url-prefix() {
	main > div > section:nth-child(2) > div > form > div > div > label {
		font-weight: 500;
	}
}
/* 











*/
/* MEdia Queries */
@media (max-width: 820px) {
	main {
		justify-content: center;
		/* remove on medium screen  */
	}

	main > div > section > div {
		margin: auto;
		width: 100%;
	}

	main > div > section:nth-child(1) > div {
		margin-bottom: 3rem;
	}

	main > div:nth-child(1) {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}

@media (max-width: 506px) {
	main > div:nth-child(1) {
		padding: 5rem 1.7rem;
	}

	main > div > section:nth-child(1) > div > div > p:nth-child(2) {
		display: none;
	}

	main > div > section:nth-child(1) > div > div > p:nth-child(3) {
		display: flex;
	}

	main > div > section:nth-child(2) > div > form > div {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 360px) {
	main > div:nth-child(1) {
		padding: 3rem 1rem;
	}

	main > div > section:nth-child(1) > div > img {
		max-width: 6rem;
		margin: 0 0 0 -0.5rem;
	}

	:root {
		--h1-font-size: 1.2rem;
	}
}
