:root {
	--max-width: 68rem;
	--font-family: "Edu AU VIC WA NT Pre", cursive;

	/* --background-color: hsl(0deg 0% 12.55%); */
	--color: hsl(300, 4.3%, 13.5%);
	--otter-background-color: hsl(0, 0%, 100%);
	--header-background-color: hsl(324.94deg 100% 50%);

	--font-weight: 500;
	--font-size: 0.7rem;
	--line-height: 1.5;

	--h1-font-size: 1.2rem;
	--h1-font-weight: bold;

	--border-radius: 0.4rem;
}

main.home {
	min-width: inherit;
	min-height: inherit;
	display: flex;
	justify-content: center;
	text-align: center;
}

main.home > div {
	padding: 4rem 1rem;

	width: 100%;
	max-width: var(--max-width);

	display: flex;
	flex-direction: column;
	justify-content: center;

	gap: 2rem;
}

main.home > div > section:nth-child(2) {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	place-items: center;

	gap: 2rem;
}

main.home > div > section > div {
	width: 100%;
	height: 13rem;

	border-radius: var(--border-radius);

	overflow: hidden;

	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 4px 6px -1px rgb(0 0 0 / 0.1);

	transition: all 0.8s ease-in-out;
}

/* main.home > div > section > div:hover,
main.home > div > section > div:focus {
	transform: translateY(-1rem);
      z-index: 10;
} */

main.home > div > section > div > a > div {
	width: inherit;
	height: 100%;
}

main.home > div > section > div > a > div > img {
	object-position: left;
	object-fit: cover;
	width: 100%;
	height: 100%;

	animation: animate both 3s infinite alternate;
}

@keyframes animate {
	100% {
		object-position: right;
	}

	50% {
		object-position: center;
	}

	0% {
		object-position: left;
	}
}

@media (max-width: 1024px) {
	main.home > div > section:nth-child(2) {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	main.home > div > section > div {
		width: 100%;
		height: 13rem;
	}
}

@media (max-width: 768px) {
	main.home > div > section:nth-child(2) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	main.home > div > section > div {
		width: 100%;
		height: 19rem;
	}
}

@media (max-width: 550px) {
	main.home > div > section:nth-child(2) {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}
